<h1>Logements disponibles</h1>

<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Adresse</th>
            <th>Depart</th>
            <th>Arrivée</th>
        </tr>
    </thead>
    <tbody>
        <% @log.each do |logement| %>
            <tr>
                <td><%= logement.title %></td>
                <td><%= logement.adresse %></td>
                <td><%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
                <td><%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
            </tr>
        <% end %> 
    </tbody>
</table>
