<% if obj.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <% obj.errors.full_messages.each do |message|%>
            <div>
                <%= message %>
            </div>
        <% end %>
    </div>
<% end %>
