

<div class="container">
    <div class="dropdown-divider "></div>

  <footer>
    <small><%= link_to "AIRBIBI", "#"  %> Copyright by Wilfried</small>
    <nav>
      <ul>
        <li><%= link_to "A Propos", "#"  %></li>
        <li><%= link_to "Articles", "#" %></li>
      </ul>
    </nav>
  </footer>
</div