// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// div ul li{
//     list-style: none;
//     margin-top: 16px;
//     font-size: 14px;
// }


// @font-face {
//     font-family: 'Roboto';
//     src: url('Roboto-Regular.ttf');
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

li{
    list-style: none;
}

ul{
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body{
   // background-color: #F2F0EB;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.nav-item{
    list-style: none;
    padding: 0px 16px;
}

.menu{
    display: flex;
    justify-content: center;
    padding-inline-start: 100px;
}
.navbar-end{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navbar-end, .navbar-logo, .lang_and_region{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-end-items{
    padding: 0px 16px;
    box-sizing: initial;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    height:230px;
    width: 270px;
    top: 48px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    
}

.dropdown-container{
    margin: 20px;
}

.dropdown-content-items{
    padding: 5px 0px;
}

.dropdown-content-items:hover{
    background-color: #E3E2E2;
}

// .dropbtn {
//     background-color: #3498DB;
//     color: white;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
//     cursor: pointer;
// }

.show {
    display: block;   
}

.devenir_hote:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    background-color:LightGray;
    border-radius: 20px;
}

.lang_and_region:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:LightGray;
    border-radius: 20px;
}

.end{   
    height:40px;
    width: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}    

end:hover{
    box-shadow: #484848;
}

.bar-menu{
    display: flex;
    justify-content: center;
}

.bar-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 620px;
    height: 55px;
    background: white;
    border-radius: 35px;
    padding: 5px;
}

.title-flatpikcr, .title{
    margin: 0px;
}

.form-control, .flatpickr, .input-flatpickr, .input, .flatpickr-input, .input-bar{
    padding: 0px;
    margin: 0px;
    border: none;
    height: 20px;
    width: 100px;
    text-overflow: ellipsis;
}

form {
    width: 120px;
}

.item-bar-menu{
    padding: 5px; 
} 

.item-bar-menu:hover{
    border-radius: 25px;
    background-color: #e2e2e2;
} 


.border-1, .border-2, .border-3{
    height: 32px;
    border-left: 1px solid #e2e2e2;
}

.voyageurs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 92, 102);
    padding: 10px;
    border-radius: 25px;
}

.title-buttton{
    display:none;
}

.show-label{
    display:flex;
    //border-radius: 10%;
}

.raduis{
    width: 90px;
}

.main{
    height: 800px;
    background-image: asset-url('main.jpg'); //rajouter une image au jumbotron
    background-repeat: no-repeat;
    background-size: cover;
}

.item-main{
    font-size: 50px;
    font-weight: bold;
    color: rgb(244, 92, 102);
    position: absolute;
    left: 80px;
    top: 500px;

}

.button-main{
    position: absolute;
    padding: 10px;
    left: 80px;
    top: 630px;
    background-color: rgb(244, 92, 102);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    border-width: 0px;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin: 60px auto;
}

.img-flex{
    height: 100%;
    width: 100%;
    border-radius: 5px; 
    object-fit: cover;
} 

.img-div{
    width: 70px;
    height: 70px;
    margin-right: 16px ;
}

p{
    margin:0px;
}

.h-route{
    margin: 15px;
    font-size: 18px;
}

.city{
    font-weight: bold;
}

.row1{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.test-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.test-2{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

/* */

.flex-container2{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fc2, .fc3, .fc4{
    display: flex;
    justify-content: space-between;
}

.cvp{
    display: flex;
    flex-direction: column;
}

.cv{
    height: 280px;
    width : 280px;
    margin-bottom: 15px;
}


.img-cvp{
    height: 100%;
    max-width: auto;
    border-radius: 5px; 
    object-fit: cover;
}


/* */
.fc3-bckgrd{
    height: 700px;
    width: auto;
    background-color: black;
}

.flex-container3{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-fc3{
    float: right;
    color: white;
}

.dlm{
    display: flex;
    flex-direction: column;
}

.dm{
    height: 400px;
    width: 400px;
}


.img-dlm{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* */

.flex-container4{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-fc4{
    color: rgb(7, 7, 7);
    margin-top: 5px;
}

.rejoignez{
    display: flex;
    flex-direction: column;
}

.rz{
    height: 300px;
    width: 380px;
    
}
.img-rz{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*FOOTER*/

.footer{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 50px;
}

.f1{
    display: flex;
}

.ul-f1{
    padding: 0px;
    font-size: 14px;
}

.ul-f2-left{
    padding: 0px;
    border-top: 1px solid black;
    font-size: 14px;
}

.ul-f2-right{
    float: right;
    display: flex;
    margin: 0px;
    padding: 9px 0px 9px;
}

.f2-item-left{
    float: left;
    list-style: none;
    padding: 24px 0px;
    margin-right: 10px;
}
.lang{
    margin-right: 24px;
}

.social{
    margin-right: 24px;
}


.f2-item-right{
    padding: 0px 0px;
}

.col{
    margin-right: auto;
}

.col-item{
    list-style: none;
    margin-top: 16px;
}

.first-col {
    text-transform: uppercase;
}

a{
    color: #484848;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
