// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// div ul li{
//     list-style: none;
//     margin-top: 16px;
//     font-size: 14px;
// }


// @font-face {
//     font-family: 'Roboto';
//     src: url('Roboto-Regular.ttf');
// }


@import 'config/fonts';
@import 'config/bootstrap_variables';

@mixin flex($display, $justify-content, $align-items){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin center($display, $justify-center){
    display: $display;
    justify-content: $justify-center;
}

@mixin flex_direction($display, $flex-direction){
    display: $display;
    flex-direction: $flex-direction;
}

@mixin img_fit($height, $max-width, $border-radius, $object-fit){
    height: $height;
    max-width: $max-width;
    border-radius: $border-radius; 
    object-fit: $object-fit;
}

li{
    list-style: none;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    text-align: center;
}

.img-card{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

 ////////////

.search{
    z-index: 2000;
    position: relative;
    align-items: center;
    border-radius: 50px;
}

.input{
    border: none;
    width: 500px;
}
////////////


.title{
    font-family: 'Play', sans-serif;
}

/////*body*///
body{
    // background-color: #F2F0EB;
    font-family: 'Open Sans', sans-serif;
     //color: #000000;
}

@media (min-width: 0px) and (max-width: 768px) {
    .search{
        //background-color: black;
        border-radius: 20px;
        padding: 0px;
    }

    .title{
        display: none;
    }


 }


////*main*////////
//=>photo_main
// .main{ 
//     height: 700px;
//     max-width: auto;
//     min-width: auto;
//     background-image: asset-url('main.jpg'); //rajouter une image au jumbotron
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .carousel-item {
//     height: 100vh;
//     background-size: cover;
//     background-position: center center;
//     background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e27d22494%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e27d22494%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22218.45%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
// }

// .carousel-item h1 p {
//     margin: 0;
//     color: white;
// }

// #background-video {
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -1;
//   }


// //=>>>navbar
// navbar{
//     @include flex(flex, space-between, center);
//     padding: 20px 80px;
// }

// navbar-logo, .lang_and_region{
//     @include flex(flex, center , center);
// }

// .lang_and_region:hover{
//     @include flex(flex, center, center);
//     height: 40px;
//     background-color:LightGray;
//     border-radius: 20px;
// }

// .menu{
//     @include center(flex, center);
//     padding-inline-start: 100px;
// }

// .navbar-end{
//     display: flex;
//     align-items: center;
// }

// .navbar-end-items{
//     padding: 0px 16px;
//     box-sizing: initial;
// }

// .nav-item{
//     list-style: none;
//     padding: 0px 16px;
// }

// .devenir_hote:hover{
//     @include flex(flex, center, center);
//     height:40px;
//     background-color:LightGray;
//     border-radius: 20px;
// }

// .end{
//     @include flex(flex, center, center);
//     height:40px;
//     width: 60px;
//     background-color: white;
//     border-radius: 20px;
// }    

// end:hover{
//     box-shadow: #484848;
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #ffffff;
//     z-index: 1;
//     height:250px;
//     width: 270px;
//     top: 48px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     border-radius: 20px;
// }

// .dropdown-container{
//     margin: 20px;
// }

// .dropdown-content-items{
//     padding: 5px 0px;
// }

// .dropdown-content-items:hover{
//     background-color: #E3E2E2;
// }


// /* The Close Button */
// .close {
//     color: #aaa;
//     float: right;
//     font-size: 28px;
//     font-weight: bold;
// }

// .close:hover,
// .close:focus {
//     color: black;
//     text-decoration: none;
//     cursor: pointer;
// }

// //=>>>search_bar

// .bar-menu{
//     @include center(flex, center);
// }

// .bar-content{
//     @include flex(flex, row, center);
//     width: 750px;
//     height: 55px;
//     background: white;
//     border-radius: 35px;
//     padding: 10px;
// }

// .border-1, .border-2, .border-3{
//     height: 32px;
//     border-left: 2px solid #e2e2e2;
// }

// .item-bar-menu{
//     padding: 5px;
//     margin: 5px; 
// } 

// .item-bar-menu:hover{
//     border-radius: 25px;
//     background-color: #e2e2e2;
// }

// .input-bar{
//     width: 100px;
//     text-overflow: ellipsis;
// }

// .search{
//     display: flex;
//     flex-direction: row;

//     align-items: center;
    
//     //@include center(flex, center);

//     background-color: rgb(244, 92, 102);
//     padding: 10px;
//     border-radius: 25px;
    
//     .svg_search{
//         fill: white;
//     }

//     .recherche{
//         background-color: rgb(244, 92, 102);
//         border: none;
//         color: white;
//     }
// }

// .voyagez{
//     font-size: 50px;
//     font-weight: bold;
//     color: rgb(244, 92, 102);
//     position: absolute;
//     left: 80px;
//     top: 500px;
// }

// .button-main{
//     position: absolute;
//     padding: 10px;
//     left: 80px;
//     top: 630px;
//     background-color: rgb(244, 92, 102);
//     color: white;
//     font-weight: bold;
//     font-size: 15px;
//     border-radius: 10px;
//     border-width: 0px;
// }

// //////////8 img

// .flex-container1 {
//     display: flex;
//     justify-content: space-between;
    
//     padding-left: 80px;
//     padding-right: 80px;
//     margin: 60px auto;
// }

// .img-div{
//     width: 70px;
//     height: 70px;
//     margin-right: 16px ;
// }

// .img-flex{
//     @include img_fit(100%, auto, 5px, cover)
// } 

// p{
//     margin:0px;
// }

// .h-route{
//     margin: 15px;
//     font-size: 18px;
// }

// .city{
//     font-weight: bold;
// }

// .row1{
//     @include flex-direction(flex, column);
//     margin-bottom: 5px;
// }

// .test-1{
//     @include flex-direction(flex, row);
//     margin-bottom: 5px;
// }

// .test-2{
//     @include flex-direction(flex, row);
//     margin-top: 5px;
// }

// ///////////////*chez vous partout */////
// /* */

// .flex-container2{
//     @include flex_direction(flex, column);
//     padding-left: 80px;
//     padding-right: 80px;
// }

// .fc2, .fc3, .fc4{
//     @include center(flex, space-between);
// }

// .cvp{
//     @include flex_direction(flex, column);
// }

// .cv{
//     height: 280px;
//     width : 280px;
//     margin-bottom: 15px;
// }

// .img-cvp{
//     @include img_fit(100%, auto, 5px, cover);
// }

// ///////* Dcourvre le monde *//////
// .fc3-bckgrd{
//     height: 700px;
//     width: auto;
//     background-color: black;
// }

// .flex-container3{
//     @include flex_direction(flex, column);

//     padding-left: 80px;
//     padding-right: 80px;
//     margin-top: 25px;
//     // margin-bottom: 25px;
// }

// .text-fc3{
//     float: right;
//     color: white;
// }

// .dlm{
//     @include flex_direction(flex, column);
// }

// .dm{
//     height: 400px;
//     width: 400px;
// }

// .img-dlm{
//     @include img_fit(100%, auto, 5px, cover);
// }

// ///////*Rejoignez des millions d'hôtes sur Airbnb *//////

// .flex-container4{
//     padding-left: 80px;
//     padding-right: 80px;
//     margin-top: 25px;
//     // margin-bottom: 25px;
// }

// .text-fc4{
//     color: rgb(7, 7, 7);
//     margin-top: 5px;
// }

// .rz{
//     height: 300px;
//     width: 380px;
// }

// .img-rz{
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     border-radius: 5px;
// }

// /*FOOTER*/

// .footer{
//     padding-left: 80px;
//     padding-right: 80px;
//     margin-top: 50px;
// }

// .f1{
//     display: flex;
// }

// .ul-f1{
//     padding: 0px;
//     font-size: 14px;
// }

// .ul-f2-left{
//     padding: 0px;
//     border-top: 1px solid black;
//     font-size: 14px;
// }

// .ul-f2-right{
//     float: right;
//     display: flex;
//     margin: 0px;
//     padding: 9px 0px 9px;
// }

// .f2-item-left{
//     float: left;
//     list-style: none;
//     padding: 24px 0px;
//     margin-right: 10px;
// }
// .lang{
//     margin-right: 24px;
// }

// .social{
//     margin-right: 24px;
// }

// .f2-item-right{
//     padding: 0px 0px;
// }

// .col{
//     margin-right: auto;
// }

// .col-item{
//     list-style: none;
//     margin-top: 16px;
// }

// .first-col {
//     text-transform: uppercase;
// }

// a{
//     color: #484848;
//     text-decoration: none;
// }

// a:hover{
//     text-decoration: underline;
// }

// ////end
// li{
//     list-style: none;
// }


#map {
    height: 100%;
}
