.div-map{
    height: 730px;
    width: auto;
}
#map{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#carouselExampleSlidesOnly{
    background-size: cover;
}

// @media (min-width: 0px) and (max-width: 768px) {
//     .search{
//         border-radius: 20px;
//         padding: 0px;
//     }

//     .title{
//         display: none;
//     }

// }